<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = no">

    <title>Player </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  </head>

  <img src="../images/Q-marks 1.jpg" class="img-fluid d-block" style="height: 100vh; width: 100%">

  <body>

    <div class="container-fluid d-block d-flex flex-nowrap">

      <div class="position-absolute top-0 start-50 translate-middle-x justify-content-center">
        <h1 class="text-center text-decoration-none text-white display-1 fw-bold" style="font-weight: 200; letter-spacing: 0.3rem;">Player</h1>
      </div>

      <div class="card position-absolute top-50 start-50 translate-middle justify-content-center bg-secondary bg-opacity-75">

        <form th:action="@{/requestPlayerGameInputs}" method="post"
              style="max-width: 600px; margin: 0 auto;">

          <div class="form-group row p-3 mb-2">
            <label class="col-form-label col-6 text-white text-center text-decoration-none fw-bold">Enter Game Pin: </label>
            <div class="col-6">
              <input type="text"  th:name="gamePinForPlayer" class="form-control" required minlength="4" maxlength="6"/>
            </div>
          </div>

          <div class="form-group row p-3 mb-2">
            <label class="col-form-label col-6 text-white text-center text-decoration-none fw-bold">Set Username: </label>
            <div class="col-6">
              <input type="text"  th:name="gameUsername" class="form-control" required minlength="3" maxlength="20"/>
            </div>
          </div>

          <div class="justify-content-center">
            <button type="submit" class="btn btn-outline-dark btn-lg border-radius-sm p-3 m-5 bg-white bg-opacity-75" style="min-width: 20rem; max-width: 20rem;"> Play</button>
          </div>

        </form>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>