<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Player </title>
  </head>
  <body>



    <h1>Player</h1>

    <!--display the game pin here-->

    <div>

      <label th:each="displayGamePin : ${viewGamePin} ">

        <p>Game pin:  <strong th:text="${displayGamePin.gamePin}"></strong> </p>

      </label>

    </div>

    <form th:action="@{/requestPlayerGameInputs}" >

      <div>
        <label>Enter Game Pin: </label>

        <input type="text"  th:name="gamePinForPlayer"/>

      </div> <br>

      <div>
        <label>Set Username: </label>
        <input type="text"  th:name="gameUsername"/>

      </div> <br>

      <button type="submit" > Play</button>

    </form>
  </body>
</html>