<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Player Questions</title>
  </head>
  <body>

  <h1 >Player Questions</h1>


  <form th:action="@{/nextQuestion}">

    <ul th:each="questions : ${gameQuestions}">

      <p th:text="${questions.question}"> </p>

      <input type="hidden"  name="id" th:value="${questions.id}"> <br>
      <input type="hidden"  name="correctAnswer" th:value="${questions.CorrectAnswer}"> <br>
      <input type="radio" th:text="${questions.OtherAnswers_1}" name="userAnswer" th:value="${questions.OtherAnswers_1}"> <br>
      <input type="radio" th:text="${questions.OtherAnswers_2}" name="userAnswer" th:value="${questions.OtherAnswers_2}"> <br>
      <input type="radio" th:text="${questions.OtherAnswers_3}" name="userAnswer" th:value="${questions.OtherAnswers_3}"> <br>
      <input type="radio" th:text="${questions.OtherAnswers_4}" name="userAnswer" th:value="${questions.OtherAnswers_4}"> <br>

    </ul>

    <button type="submit">Next</button>

  </form>



  </body>
</html>