<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Questions display</title>
  </head>

  <body>

  <h1>Choose how your score will display</h1>

  <label>list of views</label>
  <select id="scoreDisplayID" name="scoreDisplay">

    <option value="0">Options</option>
    <option value="1">View By Names only</option>
    <option value="2">View By Name and Score </option>
    <option value="3">Display Score Only</option>

  </select>


  </body>
</html>